@switch:registry=https://artifacts.daimler.com/artifactory/api/npm/switch-main-npm-releases/
@daimler:registry=https://artifacts.daimler.com/artifactory/api/npm/switch-main-npm-releases/
@mercedes:registry=https://artifacts.daimler.com/artifactory/api/npm/switch-main-npm-releases/

strict-ssl=false